.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #3d3c3c !important;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  width: 520px; /* Could be more or less, depending on screen size */
}

.yes,
.no {
  padding: 15px 100px;
  margin: 10px 4px;
  color: rgb(5, 5, 5);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.yes {
  box-shadow: inset 000px 0px 0px 0px #60ff88c2;
  -webkit-transition: all 0.6s cubic-bezier(0.9, 0.24, 0.4, 1);
  transition: all 0.6s cubic-bezier(0.9, 0.24, 0.4, 1);
}

.yes::before {
  content: "";
  width: 100%;
  height: 0%;
  display: block;
  background: #80ffd3;
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: height 0.4s cubic-bezier(0.9, 1, 0.32, 1),
    opacity 0.1s ease;
  transition: height 0.4s cubic-bezier(0.9, 1, 0.32, 1), opacity 0.1s ease;
}

.yes:hover::before {
  opacity: 1;
  height: 100%;
}

.yes:hover {
  box-shadow: inset 00px 100px 0px 0px #6098ff;
  color: #ffffff;
}

.no::before {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0px;
  width: 100%;
  height: 25px;
  background: rgba(247, 23, 23, 0.596);
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.no:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
#age {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
