body {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
  /* cursor: none; */
}
canvas {
  display: block;
}

ul{
  position: absolute;
  width: 800px; height: 50px;
  top: 3.5%; left: 15.5%;
  padding: 0px ;
  list-style: none;

  
}

.main-container {
  position: absolute;
   width: 100%;
   top: 0%;
   left: 0%;
   height: 100%;
   z-index: 1;
   background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.788) -18.5%, rgba(0, 0, 0, 0.08) 177%);
   transform: translate(-50%,-50%);
   overflow: hidden;
}

.logotxt {
  position: absolute;
  top: 7%;
  z-index: 2;
  left: 27.5%;
  width: 56px;
  height: 18px;
  
}

.nav {
  display: inline-table;
  color: white;
  position: absolute;
  z-index: 4;
  top: 12%;
  padding-top: 20px;
  left: 120%;


}


.home {


    font-family: 'Montesserat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    left: 79%;
    top: 18%;
    margin-right: 0px;
    letter-spacing: .2px;
     position: absolute;
     background: none;
     z-index: 2;
     color: white;
    
    

}

.featured {
  
  font-family: 'Montesserat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    left: 88.5%;
    top: 18%;
    opacity: .5;
     position: absolute;
     letter-spacing: .2px;
     margin-left: 0px;
     background: none;
     z-index: 2;
     color: white;


}

.abt-us {

  font-family: 'Montesserat', sans-serif;
    font-size: 13px;
    opacity: .5;
    font-weight: 400;
    left: 98%;
    top: 18%;
    letter-spacing: .2px;
     position: absolute;
     width: 70px;
     background: none;
     z-index: 2;
     color: white;


}

.login {

  font-family: 'Montesserat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    top: 18%;
    right: -9%;
    opacity: .5;
     position: absolute;
     width: 70px;
     letter-spacing: .2px;
     background: none;
     z-index: 2;
     color: white;

}

.signup {

  font-family: 'Montesserat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    top: 18%;
    right: -19%;
    letter-spacing: .2px;
     position: absolute;
     width: 70px;
     background: none;
     z-index: 2;
     color: white;

}





#input-bttn {
  text-align: center;
  padding-bottom: 6px;
}

#input-bttn:hover {

transition: all 0.2s ease-in-out;
background: rgb(34, 146, 112);

}

.mixHeader {
  top: 15%;
  left: 27.4%;
  color: white;
  background: none;
  opacity: 0;
  position: absolute;
  z-index: 2;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 38px;
  letter-spacing: -2px;
  font-weight: 800;
}




.required {
  top: 25%;
  left: 27.4%;
  color: white;
  background: none;
  position: absolute;
  z-index: 3;
  opacity: 0;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 11px;
  letter-spacing: -.5px;
  font-weight: 900;
}

.optional {
  top: 25%;
  left: 44%;
  color: white;
  background: none;
  position: absolute;
  z-index: 3;
  opacity: 0;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 11px;
  letter-spacing: -.5px;
  font-weight: 900;
}

/* Cocktail submission fields */

.spirits {

  opacity: 0;
    top: 26.4%;
  left: 27.4%;
  color: white;
  background: none;
  position: absolute;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  letter-spacing: -.5px;
  font-weight: 400;
}

.mixers {

  opacity: 0;
    top: 42%;
  left: 27.4%;
  color: white;
  background: none;
  position: absolute;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  letter-spacing: -.5px;
  font-weight: 400;
}

.garnishes {

  opacity: 0;
  top: 42%;
left: 44%;
color: white;
background: none;
position: absolute;
z-index: 2;
font-family: 'Lato', sans-serif;
font-size: 30px;
letter-spacing: -.5px;
font-weight: 400;

}

.syrups {

  opacity: 0;
    top: 57%;
  left: 27.4%;
  color: white;
  background: none;
  position: absolute;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  letter-spacing: -.5px;
  font-weight: 400;
}

.spec-instruct{
  opacity: 0;
  top: 57%;
left: 44%;
color: white;
background: none;
position: absolute;
z-index: 2;
font-family: 'Lato', sans-serif;
font-size: 30px;
letter-spacing: -.5px;
font-weight: 400;
}

.ice {

  opacity: 0;
    top: 26.4%;
  left: 44%;
  color: white;
  background: none;
  position: absolute;
  z-index: 1;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  letter-spacing: -.5px;
  font-weight: 400;

}

.yes {
  top: 37%;
  left: 44%;
  transition: 0.2s ease-in-out;
  opacity: 0;
  border: none;
  width: 90px;
  background: rgb(36, 146, 113);
  text-align: center;
  padding-top: -5px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
}
.yes:focus {
  outline: none;
}


.no {
  top: 37%;
  left: 50.6%;
  opacity: 0;
  border: none;
  transition: 0.2s ease-in-out;
  width: 90px;
  background: rgb(36, 146, 113);
  text-align: center;
  padding-top: -5px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
}
.no:focus {
  outline: none;
}

.yestxt {
  font-family: 'Monteserrat ', sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: -.5px;
  font-weight: 900;
  margin-top: 10px;
}

.notxt {
  font-family: 'Monteserrat ', sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: -.5px;
  font-weight: 900;
  margin-top: 10px;
}




.spirit-choice {                                
    position: absolute;
    z-index: 2;
    opacity: 0;
    left: 27.4%;
    top: 31.2%;
}

.mixer-choice {
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 27.4%;
  top: 47%;
}

.syrup-choice {
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 27.4%;
  top: 62%;
}

.garnish-choice {
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 44%;
  top: 47%;

}

.special-choice {
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 44%;
  top: 62%;
}



.spiritInput {
    width: 160px;
    height: 40px;
    border: none;
    font-family: 'Monteserrat ', sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: -.5px;
  font-weight: 600;
  margin-top: 10px;
    padding-left: 12px;
    background: white;
    border-radius: 30px;
}

.spiritInput:focus {
  outline: none;
}

.mixerInput {
  width: 160px;
  height: 40px;
  border: none;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: -.5px;
  font-weight: 600;
  padding-left: 12px;
  background: white;
  border-radius: 30px;
}

.mixerInput:focus {
  outline: none;
}

.syrupInput {
  width: 160px;
  height: 40px;
  border: none;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: -.5px;
  font-weight: 600;
  padding-left: 12px;
  background: white;
  border-radius: 30px;
}

.syrupInput:focus {
  outline: none;
}

.garnishInput {
  width: 160px;
  height: 40px;
  border: none;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: -.5px;
  font-weight: 600;
  padding-left: 12px;
  background: white;
  border-radius: 30px;
}

.garnishInput:focus {
  outline: none;
}

.specialInput {
  width: 160px;
  height: 40px;
  border: none;
  font-family: 'Monteserrat ', sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: -.5px;
  font-weight: 600;
  padding-left: 12px;
  background: white;
  border-radius: 30px;
}

.specialInput:focus {
  outline: none;
}

.submitSpirit {
    width: 40px;
    height: 40px;
    padding-top: 4px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 800;
    color: white;
  
    font-size: 17px;
    border: none;
    background: rgb(53, 212, 165);
    border-radius: 30px;
}

.submitSpirit:focus {
  outline: none;
}

.submitMixer {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  padding-top: 4px;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 800;
  color: white;
  
  font-size: 17px;
  border: none;
  background: rgb(53, 212, 165);
  border-radius: 30px;
}
.submitMixer:focus {
  outline: none;
}

.submitSyrup {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 800;
  color: white;
  padding-top: 2px;
  font-size: 17px;
  border: none;
  background: rgb(53, 212, 165);
  border-radius: 30px;
}
.submitSyrup:focus {
  outline: none;
}

.submitGarnish {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 800;
  color: white;
  padding-top: 2px;
  font-size: 17px;
  border: none;
  background: rgb(53, 212, 165);
  border-radius: 30px;
}
.submitGarnish:focus {
  outline: none;
}

.submitSpecial {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 800;
  color: white;
  padding-top: 2px;
  font-size: 17px;
  border: none;
  background: rgb(53, 212, 165);
  border-radius: 30px;
}
.submitSpecial:focus {
  outline: none;
}


.spiritEnter {
    font-family: 'Montesserat', sans-serif;
  font-size: 15px;
  letter-spacing: .5px;
  color: white;
  background: none;
  font-weight: 300;
}

.mixerEnter {
  font-family: 'Montesserat', sans-serif;
font-size: 15px;
letter-spacing: .5px;
color: white;
background: none;
font-weight: 300;
}

.syrupEnter {
  font-family: 'Montesserat', sans-serif;
font-size: 15px;
letter-spacing: .5px;
color: white;
background: none;
font-weight: 300;
}

.iceEnter {
  font-family: 'Montesserat', sans-serif;
font-size: 15px;
z-index: 3;
letter-spacing: .5px;
color: white;
background: none;
font-weight: 300;
}

.garnishEnter {
  font-family: 'Montesserat', sans-serif;
font-size: 15px;
letter-spacing: .5px;
color: white;
background: none;
font-weight: 300;
}

.specialEnter {
  font-family: 'Montesserat', sans-serif;
font-size: 15px;
letter-spacing: .5px;
color: white;
background: none;
font-weight: 300;
}

.submit {
  width: 180px;
  left: 27%;
  top: 78%;
  height: 40px;
  opacity: 0;
  margin-left: 10px;
  position: absolute;
  z-index: 2;
  font-family: 'Montesserat', sans-serif;
  font-size: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  letter-spacing: -7;
  color: #ffffff;
  font-weight: bolder;
  padding-top: 2px;
  border: none;
  background: rgb(53, 212, 165);
  border-radius: 5px;
}

.cocktail-summary {
  position: absolute;
  top: 17.5%;
  left: 75.5%;
  opacity: 0;
  width: 450px;
  height: 600px;
  border-radius: 18px;
  box-shadow: 0px 28px 84px rgba(0, 0, 0, 0.534); 
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(148, 148, 148, 0.76) 100%);

  font-family: 'Montesserat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  letter-spacing: -7;
  color: #ffffff;
  font-weight: 600;
}

.ice-yes {
  position: absolute;
  margin-top: 0px;
  opacity: 0;
  margin-left: 28px;
}

.ice-no {
  position: absolute;
  margin-top: 0px;
  opacity: 0;
  margin-left: 28px;
}

.summ-header {
  font-family: 'Montesserat', sans-serif;
  font-size: 28px;
  margin-left: 28px;
  margin-right: 0;
  margin-top: 30px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  letter-spacing: -.5;
  color: #ffffff;
  font-weight: 600;
}

.summ-spirits {
  margin-left: 29px;
  font-size: 11px;
  margin-top: 52px;
  color: #bdbdbd;
  font-weight: 800;

}

.summ-mixers {
  margin-left: 29px;
  margin-top: 52px;
  font-size: 11px;
  color: #bdbdbd;
  font-weight: 800;

}

.summ-syrups {
  margin-left: 29px;
  margin-top: 52px;
  font-size: 11px;
  color: #bdbdbd;
  font-weight: 800;

}

.summ-ice {
  margin-left: 29px;
  margin-top: 52px;
  font-size: 11px;
  color: #bdbdbd;
  font-weight: 800;

}

.summ-garnish {
  margin-left: 29px;
  margin-top: 52px;
  font-size: 11px;
  color: #bdbdbd;
  font-weight: 800;

}

.summ-special {
  margin-left: 29px;
  margin-top: 52px;
  font-size: 11px;
  color: #bdbdbd;
  font-weight: 800;

}

.allSpirits {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
}

.allMixers {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
}

.allSyrups {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
}

/* .ice-select {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
} */

.allGarnish {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
}

.allSpecial {
  position: absolute;
  margin-top: 0px;
  margin-left: 28px;
  width: 250px;
}

